*  {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #edeff0;
}

hr {
  border: 1px solid #DCDDDE;
  box-shadow: 1px 1px 4px rgb(120, 121, 117);
}

h1 {
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 15px;
  color: #DCDDDE;
}

span {
  float: right;
  margin: 17px;
  font-weight: bold;
  color: white;
}

.arrow {
  width: 15px;
  margin: 10px;
}

.book {
  width: 25px;
  margin: 17px;
}

.button {
  border-radius: 20px;
  background-color: white;
  color: #9ca7a9;
  border: 2px solid #edeff0;
  padding: 7px;
}

.buttons {
  float: left;
  height: 80px;
  margin-top: 30px;
}

.box {
  box-shadow: 1px 2px 10px #DCDDDE;
  margin-bottom: 30px;
  background-color: white;
  height: 300px;
  border-radius: 5px;
}

.circle {
  width: 10px;
}

.content {
  padding: 5%;
}

.header {
  height: 50px;
}

.icons {
  float: right;
  width: 35px;
  margin: 10px;
}

.number {
  float: right;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #DCDDDE;
}

.star {
  margin-left: 170px;
}

.library {
  float: left;
}

.leftCol {
  float: left;
  width: 45%;
}

.navBar {
  float: right;
  margin-top: 30px;
}

.rightCol {
  float: right;
  width: 45%;
}

.javaHeader {
  background-color: #2c9676;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.pythonHeader {
  background-color: #f092b0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wordpressHeader {
  background-color: #838CC7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#java {
  color: #2c9676;
}

#python {
  color: #f092b0;
}

#wordpress {
  color: #838CC7;
}
